/*reset CSS*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

/*fin*/
body {
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    
}
header{
    text-align: center;
    color: white;
    font-size: 25px;
}
main{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}
#calcAre, #fileDownload{
    background-color: white;
    border-radius: 15px;
    padding: 0 1em;
}
#generatePdf{
    margin-top: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
}
#generatePdf input{
    border: 0;
    border-radius: 10px;
    padding: 1em;
    background-color: #6991c7;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
.selectedType div, .ca div, #fullAre div, #minifyAre div, .resultM, aside{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
}
.selectedType{
    display: flex;
    justify-content: space-around;
}
.selectedType div{
    flex-direction: row;
    align-items: center;
}
.selectedType div label{
    padding-left: 0.5em;
}
input{
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
    -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    background-color: lightgray;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
footer, #identity{
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}
#identity a{
    text-decoration: none;
    color: inherit;
}
@media (min-width: 1200px) { 
    body{
        max-width: 1000px;
    }
    main{
        align-items: center;
    }
    #calcAre{
        width: 65%;
    }
 }